/* Horizontal scroll and dark background */
body {
  background: #141414;
  color: #ffffff;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

/* Search button */
.search-btn {
  height: calc(1.5em + 0.94rem + 1.97px);
  padding: 0.375rem 0.75rem;
}

/* Favorites overlay */
.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 3em;
}

#error-message {
  margin-left: 2rem;
}

/* images */
.img {
  height: 325px;
  width: 275px;
}

.img:hover {
  box-shadow: 5px -5px 1px rgba(120, 120, 120, 0.2);
}

/* Movie Details Page */
#back {
  text-decoration-color: #fff;
}

#back p {
  color: #fff;
  font-size: 20px;
  margin: 1rem 2rem;
}

#details {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#poster {
  max-height: 444px;
  max-width: 333px;
}

.details-btn {
  color: #fff;
  border: none;
  padding: 0.5rem 1.75rem;
  font-size: 20px;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
}

#add {
  background-color: #e16a00;
}

#remove {
  background-color: #929292;
}

#details-box-1 {
  margin: auto;
}

#title-wrap {
  width: 95%;
  margin: auto 0;
}

#title {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

#reviews {
  font-size: 25px;
  font-weight: 600;
}

#reviews li {
  margin: 1.25rem 1rem;
}

#details-box-3 {
  margin-top: 5rem;
  text-align: center;
  grid-column: span 2;
}

#extra-details {
  width: 90%;
  margin: 0 auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10%;
}

#extra-details li {
  font-size: 18px;
}

#word-wrap {
  width: 90%;
  margin: 0 auto;
}

#summary {
  text-align: left;
  margin: 7rem 0;
  font-size: 20px;
}

#loading {
  margin: 4rem 5rem;
  font-size: 60px;
}

#error {
  margin: 4rem 5rem;
  font-size: 60px;
}

#error-detail {
  margin: 4rem 5rem;
  font-size: 25px;
}

#retry {
  margin: 2rem 6rem;
}

/* Details page Media Queries */
@media (max-width: 700px) {
  #details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }

  #details-box-1 {
    grid-column: span 2;
    margin-bottom: 1rem;
    text-align: center;
  }

  #details-box-2 {
    text-align: center;
  }

  #poster {
    height: calc(444px * 0.8);
    width: calc(333px * 0.8);
  }

  .details-btn {
    padding: calc(0.5rem * 0.8) calc(1.75rem * 0.8);
  }

  #title-wrap {
    width: 100%;
  }

  #title {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  #reviews {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
  }

  #extra-details {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
  }

  #extra-details li {
    font-size: 16px;
  }

  #summary {
    font-size: 18px;
  }

  #error {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  #title {
    font-size: 3rem;
    font-weight: 500;
  }

  #extra-details {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5%;
  }
}
